# Reading files with open()

In [ ]:
with open('file.txt', 'w') as file: # create file and open it as "write", using "read" does not create a file
  file.write('This is line A\n')    # write lines inside the file
  file.write('This is line B\n')

with open('file.txt', 'a') as file: # file opened as "append" to add to the file without erasing past data
  file.write('This is line C\n')

with open('file.txt', 'r') as file: # with file now created, it can be opened as "read"
  file_stuff = file.read()          # assign the file full content to a variable
  print(file_stuff)                 # print said content

with open('file.txt', 'r') as file:
  line1 = file.readline()           # read file line by line
  print(line1)
  line2 = file.readline()           # cursor does move when reading inside an opened file
  print(line2)

with open('file.txt', 'a+') as file:      # use of "append+" to append and read the file
  file.write('This is special line D\n')
  file.seek(0)                            # move the cursor to the beginning to read
  file1 = file.read()
  if "special" in file1:
    print('True\n')
    print(file1)
  else:
    print('False')

In [ ]:
file = open('file.txt', 'r')
line1 = file.readline()
line2 = file.readline()
line3 = file.readline()
line4 = file.readline()

print(line3)
if "special" in line4:        # using if to search for specifc parts of the line inside the file
  print(f"{line4}\n")
else:
  print('False')

file.seek(0)                  # seek goes outside of loop, else it creates an infinite loop
while True:                   # using while to read the whole file in a loop, line by line
  line = file.readline()
  if not line:
    break
  print(line)
file.close()                  # always close the file when opening it without the use of "with"

In [ ]:
file = open('file.txt', 'r')
file.seek(15)
line2 = file.readline()       # reading full second line first by modifying the placing of cursor
print(line2)
file.seek(23)                 # using seek to put cursor on a specific part of the file
halfline2 = file.read(6)      # reading the next 6 characters from the cursor
print(halfline2)              # print said characters assigned to a variable
file.close()

## Lab exercises

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

print("done")

In [ ]:
# Read the Example1.txt
example1 = "example1.txt"
file1 = open(example1, "r")

# Print the path of file
print(f"File name: {file1.name}")
print("-" * 20)

# Print the mode of file, either 'r' or 'w'
print(f"File mode: {file1.mode}")
print("-" * 20)

# Read the file
FileContent = file1.read()
FileContent

# Print the file with '\n' as a new line
print("Content:")
print(FileContent)
print("-" * 20)

# Type of file content
contet_type = type(FileContent)
print("Content type:")
print(contet_type)
print("-" * 20)

# Close file after finish
file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(f"{FileContent}")
    print("-" * 20)

# Verify if the file is closed
print("Is file closed?")
print(f"{file1.closed}")
print("-" * 20)

# See the content of file
print(FileContent)

In [ ]:
# Read first four characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print("-" * 20)

# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))
    print("-" * 20)

# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

In [ ]:
# Read one line
with open(example1, "r") as file1:
    print("first line: " + file1.readline())
    print("-" * 20)

with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars
    print("-" * 20)

# Iterate through the lines
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1
        print("-" * 20)

# Read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()

# Print the first line
print(FileasList[0])
print("-" * 20)
# Print the second line
print(FileasList[1])
print("-" * 20)
# Print the third line
print(FileasList[2])
print("-" * 20)

# Writing file with open()

In [ ]:
# Write line to file
exmp2 = 'Example2.txt' # Creating variable "exmp2" with the file to be created name
with open(exmp2, "w") as wf: # Assining the creation and writing of the file to "wf"
  wf.write("This is line A\n") # Create first line in "Example2.txt"
  wf.write("This is line B\n")

In [ ]:
# Read file
with open(exmp2, "r") as twf: # Open the file inside to variable "exmp2" as read, and assigning the action to "twf"
  print(twf.read()) # Print the whole file

In [ ]:
# Write lines to file
with open(exmp2, "w") as wf:
  wf.write("This is line C\n")

In [ ]:
# Check whether write to file
with open(exmp2, "r") as twf:
  print(twf.read())

In [ ]:
# Sample list of text
Lines = ["This is line A", "\nThis is line B", "\nThis is line C", "\nThis is line D"] # Creats a list of strings
Lines # Shows/prints the list

In [ ]:
# Write the strings in the list to text file
with open("/Example2.txt", "w") as wf:
  for line in Lines: # Assigns "line" to the list "Lines"
    print(line) # Prints list
    wf.write(line) # Writes in file "Example2.txt" the content of list "Lines"

In [ ]:
# Verify if writing to file is successfully executed
with open("/Example2.txt", "r") as twf:
  print(twf.read())

In [ ]:
with open("/Example2.txt", "w") as wf:
  wf.write("This file was overwritten")

In [ ]:
with open("/Example2.txt", "w") as wf:
  for line in Lines:
    wf.write(line)

In [ ]:
# Write a new line to text file
with open("/Example2.txt", "a") as wf: # Open file as append
  wf.write("\nThis is line E") # Write text to append to existing file
  wf.write("\nThis is line F")

In [ ]:
# Sample list of text
Lines2 = ["\nThis is line G", "\nThis is line H", "\nThis is line I", "\nThis is line J"] # Creats a list of strings
Lines2 # Shows/prints the list

In [ ]:
# Append list from "Lines2"
with open("/Example2.txt", "a") as wf:
  for line in Lines2:
    wf.write(line)

In [ ]:
# Verify if the new line is in the text file
with open("/Example2.txt", "a+") as twf: # Open file as append + read
  twf.write("\nThis is line K") # Writes new lines to append to file and existing content
  twf.write("\nThis is line L")
  print(twf.read()) # Reads file, but from the point where the cursor is, "a" unlike "w" or "r", doesn't reset cursor, so shows nothing

In [ ]:
# reset cursor location and open + print full document
with open('/Example2.txt', 'r') as wf:
  wf.seek(0, 0) # bring cursor to beggining of file
  print(wf.read())

In [ ]:
with open("/Example2.txt", "a+") as twf:
  print("Initial Location: {}".format(twf.tell())) # Print the initial location of the cursor

  data = twf.read()
  if (not data): # Assign a return if the file is empty from where the cursor is
    print("Cursor at the end, file empty from cursor onward")
  else:
    print(twf.read())

In [ ]:
with open('/Example2.txt', 'r+') as twf:
  twf.seek(0,0) # Move cursor 0 bytes from the beggining
  print("New Location: {}\n".format(twf.tell())) # Print the current location of cursor
  data = twf.read() # Assing value of the data read to "data"
  if (not data): # Conditional "if" in case there is no data after cursor
    print("Cursor at the end, file empty from cursor onward")
  else: # Conditional "if" in case there is data after cursor
    print(data)

  print("\nLocation after read: {}".format(twf.tell()))# Print the final location of cursor

In [ ]:
# example of writing over the existing data of file, but without erasing all the extra data
with open('/Example2.txt', 'r+') as testwritefile:
    testwritefile.seek(0,0) # write at beginning of file
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("Line 4" + "\n")
    testwritefile.write("finished\n")
    testwritefile.seek(0,0)
    print(testwritefile.read())

In [ ]:
# here we use the order ".truncate" to delete the rest of data
with open('/Example2.txt', 'r+') as testwritefile:
  print("Location before cursor reset: {}\n".format(testwritefile.tell()))
  #testwritefile.seek(0,0) # Cursor at the beggining of file to write, redundant when correctly used at the end of "with"
  testwritefile.write("Line 1" + "\n")
  testwritefile.write("Line 2" + "\n")
  testwritefile.write("Line 3" + "\n")
  testwritefile.write("Line 4" + "\n")
  testwritefile.write("finished")
  testwritefile.truncate() # The order ".truncate" deletes the rest of the file from this point on
  testwritefile.seek(0,0) # Cursor at the beggining of file to read
  print(testwritefile.read())
  testwritefile.seek(0,0) # Leave cursor at beggining of file for future use
  print("\nLocation of cursor at the end: {}".format(testwritefile.tell()))

In [ ]:
with open('/Example2.txt', 'r+') as twf: # Open file as read + write (maintainning existing text)
    twf.seek(0,0) # Cursor at the beggining of file to write
    print(len(twf.read())) # Print the length of the file
    print("\nLocation of cursor at the end: {}".format(twf.tell()))

In [ ]:
with open('/Example2.txt', 'r+') as twf: # "r" opens file without deleting it's previows content, contrary to "w"
    twf.seek(37,0) # Set cursor at end of file
    twf.write("\nNew line") # Write "New Line" at end of file
    twf.seek(0,0) # Set cursor at beggining of file
    print(twf.read()) # Print whole content of file
    print("\nLocation of cursor at the end: {}".format(twf.tell()))

In [ ]:
# Copy file to another
with open('/Example2.txt','r') as rf:
    with open('/Example3.txt','w') as wf:
          for line in rf:
                wf.write(line)

In [ ]:
# Verify if the copy is successfully executed
with open("/Example3.txt", "r") as rf:
  print(rf.read())
  rf.seek(0,0)
  print()
  # print(len(rf.read()))
with open("/Example3.txt", "r+") as rf:
  rf.seek(45,0)
  rf.write("\nNew line2")
  rf.seek(0,0)
  print(rf.read())

In [ ]:
print("---File 3---")
with open("/Example3.txt", "r") as rf:
  print(rf.read())
  print()
print("---File 2---")
with open("/Example2.txt", "r") as rf2:
  print(rf2.read())

## Lab Exercises

In [ ]:
# Run this prior to starting the exercise, creation of player lists
from random import randint as rnd

memReg = '/members.txt'
exReg = '/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))

    with open(old,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))

genFiles(memReg,exReg)
with open("/members.txt", "r") as rf:
    print(rf.read())
print()
with open("/inactive.txt", "r") as rf2:
    print(rf2.read())

In [ ]:
def cleanFiles(currentMem, exMem): # Define function to create and run clean files
  with open(currentMem, "r+") as writeFile:
        with open(exMem, "a+") as appendFile:
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)

            inactive = [member for member in members if ('no' in member)]
            #go to the beginning of the write file
            writeFile.seek(0)
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)
            writeFile.truncate()

memReg = '/members.txt'
exReg = '/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n")
    print(readFile.read())

with open(exReg,'r') as readFile:
    print("\nInactive Members: \n")
    print(readFile.read())

# Pandas: Selecting Data

In [ ]:
# !pip install pandas # only use when in need to install the library before importing it, here it would be redundant

In [ ]:
import pandas as pd # import library and assign a variable to said library

In [ ]:
# read the content of a .csv file and assign it to a variable
df = pd.read_csv('file.csv') # this file does not exist, will cause error, replace with existing file

In [ ]:
# example of data series
series = [10, 20, 30, 40, 50] # create series for the dataframe
series_pd = pd.Series(series) # assign series to a vaiable as a dataframe
print(series_pd)

In [ ]:
# accessing series elements
print(series_pd[2]) # accessing series elements by label
print('-'*10)
print(series_pd.iloc[0]) # accessing series elements by position
print('-'*10)
print(series_pd[2:4]) # accessing a series. range of elements by index

In [ ]:
print(series_pd.size) # number of elements in a series
print('-'*10)
print(series_pd.ndim) # total number of dimensions in a series, pandas series are one dimensional
print('-'*10)
print(series_pd.shape) # represents a result as first elements and dimensiones, as a touple
print('-'*10)
print(series_pd.values) # returns a series values as an array
print('-'*10)
print(series_pd.index) # index of a series

In [ ]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], # create dictionary and assing it to a variable
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data) # put the dictionary into a dataframe and assign the dataframe to a variable
print(df)

In [ ]:
# dataframe navigation by columns
print(df['Name'])  # access the 'Name' column

In [ ]:
# dataframe navigation by row
print(df.iloc[2])   # Access the third row by position
print('-'*30)
print(df.loc[1])    # Access the second row by label

In [ ]:
# slicing a dataframe
print(df[['Name', 'Age']])  # Select specific columns
print('-'*35)
print(df[1:3])             # Select specific rows

In [ ]:
# finding unique elements in a dataframe
unique_dates = df['Age'].unique()
print(unique_dates)
print('-'*40)

# conditional filtering
high_above_102 = df[df['Age'] > 25]
print(high_above_102)
print('-'*40)

# saving dataframes
df.to_csv('trading_data.csv', index=False)

In [ ]:
#Define a dictionary 'x', then create a dataframe from the dictionary using the function pd.DataFrame(dict)
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'],
      'Salary':[100000, 80000, 50000, 60000]}

df = pd.DataFrame(x) #cast the dictionary to a DataFrame
df #display the result df

In [ ]:
'''Column selection'''
#Retrieving the "ID" column and assigning it to a variable x_ID
x_ID = df[['ID']]
print(x_ID)
print('-'*30)
#check the type of x
type(x_ID)

In [ ]:
'''Access multiple columns'''
#Retrieving the Department, Salary and ID columns and assigning it to a variable z
z = df[['Department','Salary','ID']]
z

## Lab exercises

Problem 1: Create a dataframe to display the result as below:

![Coursera_Pandas_Practice_Problem1.jpg]()

In [ ]:
class_A = {'Student': ['David', 'Samuel', 'Terry', 'Evan'],
           'Age': ['27', '24', '22', '32'],
           'Country': ['UK', 'Canada', 'China', 'USA'],
           'Course': ['Python', 'Data Structures', 'Machine Learning', 'Web Development'],
           'Marks': ['85', '72', '89', '76']}
df2 = pd.DataFrame(class_A)
df2

In [ ]:
# Problem 2: Retrieve the Marks column and assign it to a variable b
b = df2['Marks']
b

In [ ]:
# Problem 3: Retrieve the Country and Course columns and assign it to a variable c
c = df2[['Country', 'Course']]
c

In [ ]:
# Get the Student column as a series Object
x = df2['Student']
x

In [ ]:
#check the type of x
type(x)

In [ ]:
'''loc() and iloc() functions'''
# Access the value on the first row and the first column
df2.iloc[0, 0]

In [ ]:
# Access the value on the first row and the third column
df2.iloc[0,2]

In [ ]:
# Access the column using the name
df.loc[0, 'Salary']

In [ ]:
# Let us create a new dataframe called 'df3' and assign 'df' to it.
# Now, let us set the "Name" column as an index column using the method set_index().
df3 = df
df3 = df3.set_index("Name")
df3

In [ ]:
#To display the first 5 rows of new dataframe
df3.head()

In [ ]:
# Now, let us access the column using the name
int(df3.loc['Jane', 'Salary'])

In [ ]:
# Use the loc() function,to get the Department of Jane in the newly created dataframe df3.
df3.loc['Jane', 'Department']

In [ ]:
# Use the iloc() function to get the Salary of Mary in the newly created dataframe df3.
df3.iloc[3, 2]

In [ ]:
'''Slicing'''
# let us do the slicing using iloc() in the old dataframe "df"
df.iloc[0:2, 0:3]

In [ ]:
#let us do the slicing using loc() function on old dataframe "df" where index column is having labels as 0,1,2
df.loc[0:2,'Name':'Department']

In [ ]:
#let us do the slicing using loc() function on new dataframe "df3" where index column is Name having labels: Rose, John and Jane
df3.loc['Rose':'Jane', 'ID':'Department']

In [ ]:
# using loc() function, do slicing on old dataframe df to retrieve the Name, ID and Department of index column having labels as 2,3
df.loc[2:3, 'Name':'Department']

# Pandas: Loading data

In [ ]:
# !pip install pandas # only use when in need to install the library before importing it, here it would be redundant

Defaulting to user installation because normal site-packages is not writeable

ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [2]:
import pandas as pd # import library and assign a variable to said library

In [ ]:
# Read data from CSV file
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/LXjSAttmoxJfEG6il1Bqfw/Product-sales.csv'
df = pd.read_csv(csv_path)

In [ ]:
df.head() # display the first five rows from file

In [ ]:
df2 = df.set_index("OrderID")
df2

In [ ]:
# read data from a excel file and print the first 5 rows
# xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx'
# await download(xlsx_path, "Product-sales.xlsx")
# two lines used in other programming environments, like notebook or pyodide based environments

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx
df_excl = pd.read_excel("Product-sales.xlsx")
df_excl.head()

In [ ]:
# Access the "Quantity" column Length as a datarame = [[]]
x_quant = df_excl[['Quantity']]
x_quant

In [ ]:
# Get the column as a series = []
x_prod = df_excl['Product']
x_prod

In [ ]:
print(type(x_quant))
print(type(x_prod))

In [ ]:
# Access to multiple columns
y = df_excl[['Product','Category', 'Quantity']]
y

In [ ]:
# Access the value on the first row and the first column
print(df_excl.iloc[0, 0])
print("-"*20)
# Access the value on the second row and the first column
print(df_excl.iloc[1,0])
print("-"*20)
# Access the value on the first row and the third column
print(df_excl.iloc[0,2])
print("-"*20)
# Access the value on the third row and the third column
df_excl.iloc[2,2]

In [ ]:
# Access the column using the name
df_excl.loc[0, 'Product']

In [ ]:
# Access the column using the name
df_excl.loc[1, 'Product']

In [ ]:
# Access the column using the name
df_excl.loc[1, 'CustomerCity']

In [ ]:
# Access the column using the name
int(df_excl.loc[1, 'Total'])

In [ ]:
# Slicing the dataframe

df_excl.iloc[0:2, 0:3]

In [ ]:
# Slicing the dataframe using name

df_excl.loc[0:2, 'OrderID':'Category']

## Tests

In [ ]:
# Use a variable q to store the column Price as a dataframe
q1 = df_excl[['Price']]
q1

In [ ]:
# Assign the variable q to the dataframe that is made up of the column Product and Category
q2 = df_excl[['Product', 'Category']]
q2

In [ ]:
# Access the 2nd row and the 3rd column of df
df_excl.iloc[1, 2]

In [ ]:
# Use the following list to convert the dataframe index df to characters and assign it to df_new;
# find the element corresponding to the row index "a" and column "CustomerCity".
# Then select the rows "a" through "d" for the column "CustomerCity"
new_index=['a','b','c','d','e']
df_new = df_excl
df_new.index = new_index
print(df_new.loc['a', 'CustomerCity'])
print('-'*20)
df_new.loc['a':'d', 'CustomerCity']

In [ ]:
df_new # full dataframe

In [ ]:
df_new.loc['0':'c', 'Category':'OrderDate'] # part of new dataframe with new index, useas numbers(position), letters(index) or name as location

In [ ]:
df_new.iloc[0:3, 1:3] # iloc uses numbers even if index is letters

# One dimensional Numpy

In [ ]:
# import numpy library
import numpy as np
# Create a numpy array
a = np.array([0, 1, 2, 3, 4])
a

In [ ]:
# Print each element
print("a[0]:", a[0])
print("a[1]:", a[1])
print("a[2]:", a[2])
print("a[3]:", a[3])
print("a[4]:", a[4])

In [ ]:
# Numpy version
print(np.__version__)

In [ ]:
# Check the type of the array
type(a)

In [ ]:
# Check the type of the values stored in numpy array
a.dtype

In [ ]:
# Check the type of the array and Value type for the given array
b = np.array([3.1, 11.02, 6.2, 213.2, 5.2])
print(type(b))
print('-'*20)
print(b.dtype)

## Assign Value

In [ ]:
# change the value of the array
# Create numpy array "c"
c = np.array([20, 1, 2, 3, 4])
c

In [ ]:
# Assign the first element to 100
c[0] = 100
c

In [ ]:
# Assign the 5th element to 0
c[4] = 0
c

In [ ]:
# Assign the value 20 for the second element in the given array
a2 = np.array([10, 2, 30, 40,50])
a2

In [ ]:
a2[1] =  20
a2

## Slicing

In [ ]:
# Slicing the numpy array
d = c[1:4]
d

In [ ]:
# Set the fourth element and fifth element to 300 and 400
c[3:5] = 300, 400
c

In [ ]:
# We can also define the steps in slicing, like this: [start:end:step] in this case the step is every 2 values
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[1:5:2])

In [ ]:
# If we don't pass start its considered 0
print(arr[:4])

In [ ]:
# If we don't pass end it considers till the length of array
print(arr[4:])

In [ ]:
# If we don't pass step its considered 1
print(arr[1:5:])

In [ ]:
# Print the even elements in the given array
ar = np.array([1, 2, 3, 4, 5, 6, 7, 8])
print(f"Even elements are = {ar[1:8:2]}")

## Create Value With A List

In [ ]:
# use a list to select more than one specific index
# The list select contains several values
# Create the index list
select = [0, 2, 3, 4]
select

In [ ]:
# Use List to select elements
d = c[select]
d

In [ ]:
# Assign the specified elements to new value
c[select] = 100000
c

## Other Attributes

In [ ]:
# Create a numpy array
a = np.array([0, 1, 2, 3, 4])
print(a)
# Get the size of numpy array
a.size

In [ ]:
# Get the number of dimensions of numpy array
a.ndim

In [ ]:
# Get the shape/size of numpy array
a.shape

In [ ]:
# Find the size ,dimension and shape for the given array "b1"
b1 = np.array([10, 20, 30, 40, 50, 60, 70])
print(f"Size = {b1.size}",
      f"\nDimension = {b1.ndim}",
      f"\nShape = {b1.shape}")

## Numpy Statistical Functions

In [ ]:
# Create a "A" numpy array
A = np.array([1, -1, 1, -1])

In [ ]:
# Get the mean of numpy array
A_mean = A.mean() # 1+(-1)+1+(-1) = 0, mean of 0 is 0
print(f"Mean: {A_mean}")
# Get the standard deviation of numpy array
standard_deviation = A.std()
print(f"Standard deviation: {standard_deviation}")

In [ ]:
# Create a "B" numpy array
B = np.array([-1, 2, 3, 4, 5])
print(f"Array B: {B}")
# Get the biggest value in the numpy array
max_B = B.max()
print(f"Max value: {max_B}")
# Get the smallest value in the numpy array
min_B = B.min()
print(f"Min value: {min_B}")

In [ ]:
# Find the sum of maximum and minimum value in the given numpy array
C = np.array([-10, 201, 43, 94, 502])
print(f"Array C: {C}",
      f"\nMax value C: {C.max()}",
      f"\nMin value C: {C.min()}")

## Numpy Array Operations

### Array Addition

In [ ]:
# Consider the numpy array "u" and "v"
u = np.array([1, 0])
print(f"Array u: {u}")
v = np.array([0, 1])
print(f"Array v: {v}")

# Numpy Array Addition
z = np.add(u, v)
print(f"Array result of sum of u and v: {z}")
w = np.append(v, u)
print(f"Array result of appending v and u: {w}")

In [ ]:
# Plotting functions
import time
import sys
import numpy as np

import matplotlib.pyplot as plt

def Plotvec1(u, z, v):

    ax = plt.axes() # to generate the full window axes
    # Add an arrow to the u Axes with arrow head width 0.05, color red and arrow head length 0.1
    ax.arrow(0, 0, *u, head_width=0.05, color='r', head_length=0.1)
    plt.text(*(u + 0.1), 'u') # Adds the text u to the Axes

    # Add an arrow to the v Axes with arrow head width 0.05, color blue and arrow head length 0.1
    ax.arrow(0, 0, *v, head_width=0.05, color='b', head_length=0.1)
    plt.text(*(v + 0.1), 'v') # Adds the text v to the Axes

    # Add an arrow to the v Axes with arrow head width 0.05, color blue and arrow head length 0.1
    ax.arrow(0, 0, *z, head_width=0.05,color = 'y', head_length=0.1)
    plt.text(*(z + 0.1), 'z') # Adds the text z to the Axes
    plt.ylim(-2, 2) # set the ylim to bottom(-2), top(2)
    plt.xlim(-2, 2) # set the xlim to left(-2), right(2)

# Plot numpy arrays
Plotvec1(u, z, v)

In [ ]:
# Perform addition operation on the given numpy array "arr1" and "arr2"
arr1 = np.array([10, 11, 12, 13, 14, 15])
arr2 = np.array([20, 21, 22, 23, 24, 25])
add_arr = np.add(arr1, arr2)
print(f"arr1 + arr2 = {add_arr}")

### Array Subtraction

In [ ]:
# Consider the numpy array "a_minus"
a_minus = np.array([10, 20, 30])
print(f"Array 1: {a_minus}")
# Consider the numpy array "b_minus"
b_minus = np.array([5, 10, 15])
print(f"Array 2: {b_minus}")
# subtract the two arrays and assign it to "c_minus"
c_minus = np.subtract(a_minus, b_minus)
print(f"Subraction of arrays 1 and 2: {c_minus}")

### Array Multiplication

In [ ]:
# Create a numpy array X1
X1 = np.array([1, 2])
print(f"Array 1: {X1}")
# Create a numpy array Y1
Y1 = np.array([2, 1])
print(f"Array 2: {Y1}")
# Numpy Array Multiplication of X! and Y1
Z1 = np.multiply(X1, Y1)
print(f"Multiplication of arrays X1 and Y1: {Z1}")

In [ ]:
# Perform multiply operation on the given numpy array arr_mult1 and arr_mult2
arr_mult1 = np.array([10, 20, 30, 40, 50, 60])
arr_mult2 = np.array([2, 1, 2, 3, 4, 5])
mult_arr = np.multiply(arr_mult1, arr_mult2)
print(f"Array 1 * Array 2 = {mult_arr}")

### Array Division

In [ ]:
# create arrays a, b and c for the base arrays and the division
a = np.array([10, 20, 30])
print(f"Array 1: {a}")
b = np.array([2, 10, 5])
print(f"Array 2: {b}")
c = np.divide(a, b)
print(f"Array division: {c}")

In [ ]:
arr1 = np.array([10, 20, 30, 40, 50, 60])
arr2 = np.array([3, 5, 10, 8, 2, 33])
div = np.divide(arr1, arr2)
print(f"Array 1 / Array 2 = {div}")

### Dot Product
The dot product is a mathematical operation that takes two equal-length sequences of numbers (usually vectors) and returns a single number.

In [ ]:
# The dot product of the two numpy arrays u and v is given by
X = np.array([1, 2])
Y = np.array([3, 2])
# Calculate the dot product
np.dot(X, Y)

In [ ]:
#Elements of X
print(X[0])
print(X[1])
#Elements of Y
print(Y[0])
print(Y[1])

In [ ]:
# test
arr1 = np.array([3, 5])
arr2 = np.array([2, 4])
arr3 = np.dot (arr1, arr2)
print(f"Dot product: {arr3}")

### Adding A Constant To a Numpy Array

In [ ]:
# Create a constant to numpy array
u = np.array([1, 2, 3, -1])
print(u)
# Add the constant to array
u + 1

In [ ]:
# Add Constant 5 to the given numpy array arr
arr = np.array([1, 2, 3, -1])
arr + 5

### Mathematical Functions

In [ ]:
# The value of pi
print(np.pi)
# Create the numpy array in radians
x = np.array([0, np.pi/2 , np.pi])
print(x)
# Calculate the sin of each elements
y = np.sin(x)
print(y)

### Linspace
A useful function for plotting mathematical functions is linspace. Linspace returns evenly spaced numbers over a specified interval.

numpy.linspace(start, stop, num = int value)

start : start of interval range

stop : end of interval range

num : Number of samples to generate.

In [ ]:
# Makeup a numpy array within [-2, 2] and 5 elements
np.linspace(-2, 2, num=5)

In [ ]:
# Make a numpy array within [-2, 2] and 9 elements
np.linspace(-2, 2, num=9)

In [ ]:
# Make a numpy array within [0, 2] and 100 elements
x = np.linspace(0, 2*np.pi, num=100)
x

In [ ]:
# We can apply the sine function to each element in the array x and assign it to the array y
# Calculate the sine of x list
y = np.sin(x)
y

In [ ]:
# Plot the result
plt.plot(x, y)

In [ ]:
# Make a numpy array within [5, 4] and 6 elements
elem5 = np.linspace(4, 5, num = 6)
elem5

### Iterating 1D Arrays

In [ ]:
# If we execute the numpy array, we get in the array format
arr1 = np.array([1, 2, 3])
print(arr1)
# But if you want to result in the form of the list, then you can use for loop
for x in arr1:
  print(x)

### Test

In [ ]:
# Implement the following vector subtraction in numpy: u-v
u = np.array([1, 0])
v = np.array([0, 1])
subt = np.subtract(u, v)
print(f"Subtraction of arrays u and v: {subt}")
# Multiply the numpy array z with -2
z = np.array([2, 4])
mult = np.multiply(z , -2)
print(f"Multiplication of array z and -2: {mult}")
# Consider the list [1, 2, 3, 4, 5] and [1, 0, 1, 0, 1]. Cast both lists to a numpy array then multiply them together
A = np.array([1, 2, 3, 4, 5])
B = np.array([1, 0, 1, 0, 1])
AxB = np.multiply(A, B)
print(f"Array A = {A}",
      f"\nArray B = {B}",
      f"\nArray A*B = {AxB}")

In [ ]:
import time
import sys
import numpy as np

import matplotlib.pyplot as plt


def Plotvec2(a,b):
    ax = plt.axes()# to generate the full window axes
    ax.arrow(0, 0, *a, head_width=0.05, color ='r', head_length=0.1)#Add an arrow to the  a Axes with arrow head width 0.05, color red and arrow head length 0.1
    plt.text(*(a + 0.1), 'a')
    ax.arrow(0, 0, *b, head_width=0.05, color ='b', head_length=0.1)#Add an arrow to the  b Axes with arrow head width 0.05, color blue and arrow head length 0.1
    plt.text(*(b + 0.1), 'b')
    plt.ylim(-2, 2)#set the ylim to bottom(-2), top(2)
    plt.xlim(-2, 2)#set the xlim to left(-2), right(2)

In [ ]:
# Convert the list [-1, 1] and [1, 1] to numpy arrays a and b
# Then, plot the arrays as vectors using the fuction Plotvec2 and find their dot product
a = np.array([-1, 1])
b = np.array([1, 1])
dp = np.dot(a, b)
print(f"Dot point of array a and array b: {dp}")
Plotvec2(a, b)

In [ ]:
# Convert the list [1, 0] and [0, 1] to numpy arrays a and b
# Then, plot the arrays as vectors using the function Plotvec2 and find their dot product
a = np.array([1, 0])
b = np.array([0, 1])
dp = np.dot(a, b)
print(f"Dot point of array a and array b: {dp}")
Plotvec2(a, b)

In [ ]:
# Convert the list [1, 1] and [0, 1] to numpy arrays a and b
# Then plot the arrays as vectors using the fuction Plotvec2 and find their dot product
a = np.array([1, 1])
b = np.array([0, 1])
dp = np.dot(a, b)
print(f"Dot point of array a and array b: {dp}")
Plotvec2(a, b)

In [ ]:
# Convert the list [1, 2, 3] and [8, 9, 10] to numpy arrays arr1 and arr2
# Then perform Addition , Subtraction , Multiplication , Division and Dot Operation on the arr1 and arr2
arr1 = np.array([1, 2, 3])
arr2 = np.array([8, 9, 10])
print(f"Addition: {np.add(arr1, arr2)}",
      f"\nSubtraction: {np.subtract(arr2, arr1)}",
      f"\nMultiplication: {np.multiply(arr1, arr2)}",
      f"\nDivision: {np.divide(arr2, arr1)}",
      f"\nDot Operation: {np.dot(arr1, arr2)}")

In [ ]:
# Convert the list [1, 2, 3, 4, 5] and [6, 7, 8, 9, 10] to numpy arrays arr1 and arr2
# Then find the even and odd numbers from arr1 and arr2
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])
print(f"Even numbers from array 1: {arr1[1::2]}",
      f"\nOdd numbers from array 1: {arr1[::2]}",
      "\n",
      "-"*40,
      f"\nEven numbers from array 2: {arr2[::2]}",
      f"\nOdd numbers from array 2: {arr2[1::2]}")

# 2D Numpy in Python

In [ ]:
# Import the libraries
import numpy as np

In [ ]:
# Create a list
a = [[11, 12, 13], [21, 22, 23], [31, 32, 33], [41, 42, 43]]
a

In [ ]:
# Convert list to Numpy Array
# Every element is the same type
A = np.array(a)
print(A)

In [ ]:
# Show the numpy array dimensions
print(A.ndim)
# Show the numpy array shape
print(A.shape)
# Show the numpy array size
A.size

## Accessing different elements of a Numpy Array

In [ ]:
# Access the element on the second row and third column form 1
print(A[1,2])
# Access the element on the second row and third column form 2
print(A[1][2])

In [ ]:
# Access the elements on the first row, first and second columns (slicing)
print(A[0][0:2])
#  we can obtain the first two rows of the 3rd column as follows
print(A[0:2, 2])

In [ ]:
# Create a numpy array X
X = np.array([[1, 0], [0, 1]])
print(f"List X:\n{X}")
# Create a numpy array Y
Y = np.array([[2, 1], [1, 2]])
print(f"List Y:\n{Y}")
# Add X and Y
Z = X + Y
print(f"Addition of X and Y:\n{Z}")
# Multiply X and Y
Z = X * Y
print(f"Multiplication of X and Y:\n{Z}")

In [ ]:
# Create a numpy array Y
Y_array = np.array([[2, 1], [1, 2]])
# Multiply Y with 2
Z_array = 2 * Y
print(f"Y array:\n{Y_array}",
      f"\nMultiplication of Y with 2:\n{Z_array}")

In [ ]:
# Create a numpy array X
X_array = np.array([[1, 0], [0, 1]])
# Multiply X with Y
Q_A_mult = X * Y
print(f"X array:\n{X_array}",
      f"\nY array:\n{Y_array}",
      f"\nX and Y array multilication:\n{Q_A_mult}")

In [ ]:
# We can also perform matrix multiplication with the numpy arrays A and B as follows
# Create a matrix A
A_array = np.array([[0, 1, 1], [1, 0, 1]])
# Create a matrix B
B_array = np.array([[1, 1], [1, 1], [-1, 1]])
# Calculate the dot product
Dot = np.dot(A_array,B_array)
# Calculate the sine of Z
Sin = np.sin(Dot)
# print all
print(f"A array:\n{A_array}",
      f"\nB array:\n{B_array}",
      f"\nDot product:\n{Dot}",
      f"\nSine of the dot product:\n{Sin}")

In [ ]:
# Create a matrix C
C = np.array([[1,1],[2,2],[3,3]])
# Get the transposed matrix of C
C_trans = C.T
print(f"C array:\n{C}",
      f"\nTransposed C array:\n{C_trans}")

In [ ]:
# Consider the following list a, convert it to Numpy Array
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
a_array = np.array(a)
print(f"List a:\n{a}",
      f"\nNumpy array a:\n{a_array}")
# Calculate the numpy array size
print(f"Numpy array a size: {a_array.size}")
# # Access the element on the first row and first and second columns
print(f"Array 'a' element on the first row, first and second columns: {a_array[0][0:2]}")

In [ ]:
# Perform matrix multiplication with the numpy arrays "a" and "b"
b_array = np.array([[0, 1], [1, 0], [1, 1], [-1, 0]])
print(f"Numpy array b:\n{b_array}",
      f"\nArray 'a' multiplication with array 'b':\n{np.dot(a_array, b_array)}")

# Introduction to APIs
Pandas is an API

In [3]:
# Pandas is actually set of software components , much of which is not even written in Python
# import dependencies to work
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# create a dictionary
dict_={'a':[11,21,31],'b':[12,22,32]}
# When you create a Pandas object with the dataframe constructor, in API lingo this is an "instance"
# The data in the dictionary is passed along to the pandas API
# You then use the dataframe to communicate with the API
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [5]:
print(df)

    a   b
0  11  12
1  21  22
2  31  32

In [ ]:
# When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe
df_head = df.head()
# When you call the method mean, the API will calculate the mean and return the value
df_mean = df.mean()

print(f"Head of dataframe:\n{df_head}",
      f"\nMean of dataframe:\n{df_mean}")

## Lab
In this lab, we will use the NBA API to determine how well the Golden State Warriors performed against the Toronto Raptors. We will use the API to determine the number of points the Golden State Warriors won or lost by for each game. So if the value is three, the Golden State Warriors won by three points. Similarly it the Golden State Warriors lost by two points the result will be negative two. The API will handle a lot of the details, such a Endpoints and Authentication.

In [6]:
!pip install nba_api
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

Defaulting to user installation because normal site-packages is not writeable
Collecting nba_api
  Downloading nba_api-1.10.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy>=2.1.0 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from nba_api) (2.3.2)
Requirement already satisfied: pandas>=2.2.0 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from nba_api) (2.3.2)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from nba_api) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.17.0)
Downloading nba_api-1.10.0-py3-none-any.whl (285 kB)
Installing collected packages: nba_api
Successfully installed nba_api-1.10.0

In [ ]:
# The method get_teams() returns a list of dictionaries
nba_teams = teams.get_teams()
# The dictionary key id has a unique identifier for each team as a value
# Let's look at the first three elements of the list
nba_teams[0:3]

In [ ]:
# convert dict to a table
dict_nba_team=one_dict(nba_teams)
# convert dictionary to a data frame
df_teams=pd.DataFrame(dict_nba_team)
df_teams.head()

In [ ]:
print(f"NBA dataframe size: {df_teams.size}")
print(f"NBA dataframe shape: {df_teams.shape}")

In [ ]:
# use the team nickname to find said team and it's unique id
df_wolves=df_teams[df_teams['nickname']=='Timberwolves']
df_warriors=df_teams[df_teams['nickname']=='Warriors']
df_warriors

In [ ]:
df_wolves

In [ ]:
# use the following code to access the first column of DF
id_warriors=df_warriors[['id']].values[0][0]
id_wolves = df_wolves[['id']].values[0][0]
# we now have an integer that can be used to request the Warriors information
print(f"Warriors unique ID: {id_warriors}")
print(f"Timberwolves unique ID: {id_wolves}")

In [ ]:
# The function "League Game Finder " will make an API call, it's in the module stats.endpoints
from nba_api.stats.endpoints import leaguegamefinder
# Under the hood, the NBA API is making a HTTP request.
# The information requested is provided and is transmitted via an HTTP response this is assigned to the object game finder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors) # The parameter team_id_nullable is the unique ID for the warriors
gamefinder.get_json() # We can see the json file by running the following line of code
games = gamefinder.get_data_frames()[0] # method that returns dataframe
games.head()
# page does not allow cloud API call

In [ ]:
# we will download the data from a previously stabilished link to use the data in cloud environment
# this step is since cloud calls are not accepted by NBA API
import requests

filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%205/Labs/Golden_State.pkl"

def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)

download(filename, "Golden_State.pkl")
file_name = "Golden_State.pkl"
games = pd.read_pickle(file_name)
games.head()

In [ ]:
# We can create two dataframes, one for the games that the Warriors faced the raptors at home, and the second for away games
games_home=games[games['MATCHUP']=='GSW vs. TOR']
games_away=games[games['MATCHUP']=='GSW @ TOR']
GSW_home = games_home['PLUS_MINUS'].mean()
GSW_away = games_away['PLUS_MINUS'].mean()
print(f"GSW home games mean: {round(GSW_home)}")
print(f"GSW away games mean: {round(GSW_away)}")

In [ ]:
# We can plot out the PLUS MINUS column for the dataframes games_home and  games_away
fig, ax = plt.subplots()

games_away.plot(x='GAME_DATE',y='PLUS_MINUS', ax=ax)
games_home.plot(x='GAME_DATE',y='PLUS_MINUS', ax=ax)
ax.legend(["away", "home"])
plt.show()
# conclusion: warriors play better at home

In [ ]:
# Calculate the mean for the column PTS for the dataframes games_home and  games_away
mean_away = games_away['PTS'].mean()
mean_home = games_home['PTS'].mean()
print(f"GSW home games mean: {round(mean_home)}")
print(f"GSW away games mean: {round(mean_away)}")

# Practice project: GDP Data Extraction and Processing
In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and request APIs process it using Pandas and Numpy libraries.


---


Scenario:
An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

The required data seems to be available on the URL mentioned below:
URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29


---


After completing this lab you will be able to:
*   Use Webscraping to extract required information from a website.
*   Use Pandas to load and process the tabular data as a dataframe.
*   Use Numpy to manipulate the information contatined in the dataframe.
*   Load the updated dataframe to CSV file.

In [ ]:
#Install required packages
# pandas for managing the data.
# numpy for mathematical operations.
!pip install pandas numpy
!pip install lxml

In [ ]:
# Importing Required Libraries
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [ ]:
# Extract the required GDP data from the given URL using Web Scraping.
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [ ]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe
tables = pd.read_html(URL)
df = tables[3]
# Replace the column headers with column numbers
df.columns = range(df.shape[1])
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df.iloc[:, [0, 2]]
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world
df = df.iloc[1:11]
# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ["Country", "GDP (Million USD)"]
df

In [ ]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe
# tables = pd.read_html(URL)
tables2 = pd.read_html(URL)
df2 = tables[3]
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df2 = df2.iloc[:, [0, 2]]
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world
df2 = df2.iloc[1:11]
# Replace the column headers with column numbers
df2.columns = range(df.shape[1])
# Assign column names as "Country" and "GDP (Million USD)"
df2.columns = ["Country", "GDP (Million USD)"]
df2

In [ ]:
# Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD
# Use the round() method of Numpy library to round the value to 2 decimal places
# Modify the header of the DataFrame to GDP (Billion USD)

# Ensure the column is numeric, coercing errors to NaN
df2["GDP (Million USD)"] = pd.to_numeric(df2["GDP (Million USD)"], errors='coerce')

# Now perform the division and rounding
df2["GDP (Million USD)"] = df2["GDP (Million USD)"].apply(lambda x: round(x / 1000000, 2))

df2.columns = ["Country", "GDP (Billion USD)"]
df2

In [ ]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method
df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)

# Convert the GDP value in Million USD to Billion USD
df["GDP (Million USD)"] = df["GDP (Million USD)"].apply(lambda x: round(x / 1000000, 2))

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.columns = ["Country", "GDP (Billion USD)"]

# Use numpy.round() method to round the value to 2 decimal places.
df["GDP (Billion USD)"] = np.round(df["GDP (Billion USD)"], 2)
df

In [ ]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
with open("Largest_economies.csv", "w") as f:
    df.to_csv(f, index=False)

In [ ]:
# Verify if the copy is successfully executed
with open("Largest_economies.csv", "r") as f:
    larg_econ = pd.read_csv(f)
    df_econ = pd.DataFrame(larg_econ)
df_econ

# Web Scraping and HTML Basics

In [8]:
# Import Beautiful Soup to parse the web page content
!pip install bs4
from bs4 import BeautifulSoup
import requests

# Specify the URL of the webpage you want to scrape
url = 'https://en.wikipedia.org/wiki/IBM'

# Define a User-Agent header
headers = {
    'User-Agent': 'MyDataExtractionScript/1.0 (juan.darquea.a@gmail.com)' # Replace with a descriptive string, e.g., 'MyDataExtractionScript/1.0 (contact@example.com)'
}

# Send an HTTP GET request to the webpage with the headers
response = requests.get(url, headers=headers)

# Store the HTML content in a variable
html_content = response.text

# Create a BeautifulSoup object to parse the HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Display a snippet of the HTML content
print(html_content[:500])

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Collecting beautifulsoup4 (from bs4)
  Downloading beautifulsoup4-4.13.5-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading soupsieve-2.8-py3-none-any.whl.metadata (4.6 kB)
Collecting typing-extensions>=4.0.0 (from beautifulsoup4->bs4)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Downloading beautifulsoup4-4.13.5-py3-none-any.whl (105 kB)
Downloading soupsieve-2.8-py3-none-any.whl (36 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, soupsieve, beautifulsoup4, bs4

   ---------------------------------------- 0/4 [typing-extensions]
   ---------- ----------------------------- 1/4 [soupsieve]
   -------------------- ------------------- 2/4 [beautifulsoup4]
   -------------------- ------------------- 2/4 [beautifulsoup4]
   ------------------------------ --------- 3/4 [bs4]
   ------------------------------ --------- 3/4 [bs4]
   ---------------------------------------- 4/4 [bs4]

Successfully installed beautifulsoup4-4.13.5 bs4-0.0.2 soupsieve-2.8 typing-extensions-4.15.0
<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-1 vector-feature-appearance-pinned-clientpref-1 vector-feature-night-mode-enabled skin-theme-clientpref-day vect

In [ ]:
# Find all <a> tags (anchor tags) in the HTML
links = soup.find_all('a')
# Iterate through the list of links and print their text
for link in links:
    print(link.text)

## Lab
After completing this lab you will be able to:
*   Understand HTTP
*   Handle HTTP Requests

In [ ]:
# Requests is a Python Library that allows you to send HTTP/1.1 requests easily
import requests
# and the following libraries
import os
from PIL import Image
from IPython.display import IFrame

# You can make a GET request via the method get to www.ibm.com
url='https://www.ibm.com/'
r=requests.get(url)

# We have the response object r, this has information about the request, like the status of the request
# We can view the status code using the attribute status_code
r.status_code

In [ ]:
# view the request headers
print(r.request.headers)

# view the request body, in the following line, as there is no body for a get request we get a None
print("request body:", r.request.body)

# You can view the HTTP response header using the attribute headers
# This returns a python dictionary of HTTP response headers
header=r.headers
print(r.headers)

In [ ]:
# We can obtain the date the request was sent using the key Date
header['Date']

In [ ]:
# Content-Type indicates the type of data
header['Content-Type']

In [ ]:
# You can also check the encoding
r.encoding

In [ ]:
# As the Content-Type is text/html we can use the attribute text to display the HTML in the body
# We can review the first 100 characters
r.text[0:100]

In [ ]:
# You can load other types of data for non-text requests, like images
# Consider the URL of the following image
# Use single quotation marks for defining string
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png'

# We can make a get request
r=requests.get(url)

# We can look at the response header
print(r.headers)

In [ ]:
# We can see the 'Content-Type
r.headers['Content-Type']

In [ ]:
# An image is a response object that contains the image as a bytes-like object
# As a result, we must save it using a file object
# First, we specify the file path and name
path=os.path.join(os.getcwd(),'image.png')

# We save the file, in order to access the body of the response we use the attribute content then save it using the open function and write method
with open(path,'wb') as f:
    f.write(r.content)

# We can view the image
Image.open(path)

In [ ]:
# Consider the following URL
# Write the commands to download the txt file in the given link
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Example1.txt'

r_txt = requests.get(url)

path_txt = os.path.join(os.getcwd(), 'Example1.txt')
with open(path_txt, 'wb') as f:
  f.write(r_txt.content)

# Open and read the file in text mode
with open('Example1.txt', 'r') as f:
    content = f.read()
print(content)

### Get Request with URL Parameters
You can use the GET method to modify the results of your query, for example retrieving data from an API. We send a GET request to the server. Like before we have the Base URL, in the Route we append /get, this indicates we would like to preform a GET request.

In [ ]:
# The Base URL is for http://httpbin.org/ is a simple HTTP Request & Response Service
# The URL in Python is given by
url_get='http://httpbin.org/get'

In [ ]:
# To create a Query string, add a dictionary
# The keys are the parameter names and the values are the value of the Query string
payload={"name":"Joseph","ID":"123"}

# Then passing the dictionary payload to the params parameter of the  get() function
r=requests.get(url_get,params=payload)

# We can print out the URL and see the name and values
print(r.url)

# There is no request body
print("request body:", r.request.body)

In [ ]:
# We can print out the status code
print(r.status_code)

# We can view the response as text
print(r.text)

# We can look at the 'Content-Type'
r.headers['Content-Type']

In [ ]:
# As the content 'Content-Type' is in the JSON format we can use the method json(), it returns a Python dict
r.json()

In [ ]:
# The key args has the name and values
r.json()['args']

### Post requests
Like a GET request, a POST is used to send data to a server, but the POST request sends the data in a request body. In order to send the Post Request in Python, in the URL we change the route to POST

In [ ]:
url_post='http://httpbin.org/post'

# This endpoint will expect data as a file or as a form
# A form is convenient way to configure an HTTP request to send data to a server
# To make a POST request we use the post() function, the variable payload is passed to the parameter  data
r_post=requests.post(url_post,data=payload)

# Comparing the URL from the response object of the GET and POST request we see the POST request has no name or value pairs
print("POST request URL:",response.url )
print("GET request URL:",r.url)
print("POST request URL:", r_post.url)  # Use r_post instead of response

In [ ]:
# We can compare the POST and GET request body, we see only the POST request has a body
print("POST request body:",r_post.request.body)
print("GET request body:",r.request.body)

In [ ]:
# We can view the form as well
r_post.json()['form']

## Hands-on Lab: API Examples
###Random User and Fruityvice API Example

Objectives:

* Load and use RandomUser API, using RandomUser() Python library
* Load and use Fruityvice API, using requests Python library
* Load and use Open-Joke-API, using requests Python library

### Example 1: RandomUser API

In [9]:
# To start using the API you can install the randomuser library running the pip install command
!pip install randomuser
# !pip install pandas
from randomuser import RandomUser
import pandas as pd

# First, we will create a random user object, r
r = RandomUser()

# Then, using generate_users() function, we get a list of random 10 users
some_list = r.generate_users(10)
some_list

Defaulting to user installation because normal site-packages is not writeable
Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (pyproject.toml): started
  Building wheel for randomuser (pyproject.toml): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5128 sha256=3276de5ea4149edf1f6dd35db6c87573b88958a64d0b959b92f4f8bf46687d84
  Stored in directory: c:\users\usuario\appdata\local\pip\cache\wheels\a8\ce\f1\713605b6f257e4f0efca0fe272df8e2427bd335cf907ab0dff
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

[<randomuser.RandomUser at 0x233e6e71bd0>,
 <randomuser.RandomUser at 0x233e6e71d10>,
 <randomuser.RandomUser at 0x233e673fce0>,
 <randomuser.RandomUser at 0x233e673fe10>,
 <randomuser.RandomUser at 0x233e67eccb0>,
 <randomuser.RandomUser at 0x233e67c3350>,
 <randomuser.RandomUser at 0x233e67c3240>,
 <randomuser.RandomUser at 0x233e73a3150>,
 <randomuser.RandomUser at 0x233e73a2e50>,
 <randomuser.RandomUser at 0x233e65297c0>]

In [ ]:
# The "Get Methods" functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset
# For example, to get full name, we call get_full_name() function
name = r.get_full_name()

# Let's say we only need 10 users with full names and their email addresses
# We can write a "for-loop" to print these 10 users
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

In [ ]:
# In this Exercise, generate photos of the random 10 users
image = r.get_picture()
for user in some_list:
    print (user.get_full_name()," ",user.get_picture())

In [ ]:
# To generate a table with information about the users, we can write a function containing all desirable parameters
# For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed
# We call the Get Methods, listed at the beginning of this notebook
# Then, we return pandas dataframe with the users
def get_users():
    users =[]

    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})

    return pd.DataFrame(users)

get_users()

In [ ]:
df1 = pd.DataFrame(get_users())
df1

In [ ]:
def get_users2():
    users =[]

    for user in some_list:
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})

    return pd.DataFrame(users)

get_users2()

### Example 2: Fruityvice API
Another, more common way to use APIs, is through requests library. The next lab, Requests and HTTP, will contain more information about requests

In [ ]:
# We will start by importing all required libraries
import requests
import json

# We will obtain the fruityvice API data using requests.get("url") function. The data is in a json format
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")

# We will retrieve results using json.loads() function
results = json.loads(data.text)

# We will convert our json data into pandas data frame
pd.DataFrame(results)

In [ ]:
# The result is in a nested json format
# The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized
df2 = pd.json_normalize(results)
df2

In [ ]:
# In this Exercise, find out how many calories are contained in a banana
banana_calories = df2[df2['name'] == 'Banana']['nutritions.calories'].iloc[0]
print(f"Calories in a banana: {banana_calories}")

# Or
# cal_banana = df2.loc[df2["name"] == 'Banana']
# cal_banana.iloc[0]['nutritions.calories']

### Example 3: Official Joke API
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

In [10]:
# We will start by importing all required libraries
import pandas as pd
import requests
import json

# Using requests.get("url") function, load the data from the URL
joke_url = requests.get("https://official-joke-api.appspot.com/jokes/ten")

# Retrieve results using json.loads() function
res = json.loads(joke_url.text)

# Convert json data into pandas data frame
pd.DataFrame(res)

,type,setup,punchline,id
0,general,Why did the chicken cross the playground?,To get to the other slide.,428
1,general,I dropped a pear in my car this morning.,"You should drop another one, then you would ha...",57
2,general,Why didn't the skeleton go for prom?,Because it had nobody.,396
3,general,How many tickles does it take to tickle an oct...,Ten-tickles!,143
4,general,Why did the A go to the bathroom and come out ...,Because he had a vowel movement.,314
5,general,What did the traffic light say to the car as i...,Don't look I'm changing!,185
6,general,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.,313
7,general,What did Michael Jackson name his denim store?,Billy Jeans!,159
8,general,What's the best thing about Switzerland?,"I don't know, but their flag is a big plus.",426
9,general,What is the least spoken language in the world?,Sign Language,247

In [ ]:
# Drop the type and id columns
df3 = pd.DataFrame(res)
df3.drop(['type', 'id'], axis=1, inplace=True)
df3

###Example 4: BeautifulSoup
BeautifulSoup is a Python library used for web scraping purposes to pull the data out of HTML and XML files. It creates a parse tree from page source code that can be used to extract data in a hierarchical and more readable manner.

In [ ]:
from bs4 import BeautifulSoup
import requests
URL = "http://www.example.com"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

###Example 5: Scrapy
Is an open-source and collaborative web crawling framework for Python. It is used to extract the data from the website.

In [ ]:
!pip install scrapy
import scrapy
class QuotesSpider(scrapy.Spider):
    name = "quotes"
    start_urls = ['http://quotes.toscrape.com/tag/humor/',]
    def parse(self, response):
        for quote in response.css('div.quote'):
            yield {'quote': quote.css('span.text::text').get()}

###Example 6: Selenium
Selenium is a tool used for controlling web browsers through programs and automating browser tasks.

In [ ]:
# Not working with colab
!pip install selenium
!pip install webdriver-manager
from selenium import webdriver
driver = webdriver.Firefox()
driver.get("http://www.example.com")

In [ ]:
# Not working with colab (gemini attempt to make it work with colab)
# Install headless Chrome and its driver
!apt-get update
!apt-get install -y chromium-browser

# Install webdriver-manager
!pip install webdriver-manager

# Set up Chrome options for headless mode
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

chrome_options = Options()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")
chrome_options.add_argument("--disable-gpu")
chrome_options.add_argument("--window-size=1920,1080")
chrome_options.add_argument("--incognito")


# Use webdriver-manager to get the latest chromedriver
webdriver_service = Service(ChromeDriverManager().install())

# Initialize the WebDriver with options and service
driver = webdriver.Chrome(service=webdriver_service, options=chrome_options)

# Now you can use the driver to open a webpage
driver.get("http://www.example.com")

# Print the page title to verify it's working
print(driver.title)

# Don't forget to quit the driver when you're done
driver.quit()

## Web Scraping Tables using Pandas

In [ ]:
import pandas as pd
import requests

URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'

# Define a User-Agent header
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Send an HTTP GET request to the webpage with the headers
response = requests.get(URL, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    # Read the HTML content into a list of DataFrames
    tab = pd.read_html(response.text)
    # Assuming the table you want is the first one (index 0)
    df_tab = tab[0]
    print(df_tab)
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

In [ ]:
URL_gdp = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
# Define a User-Agent header
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Send an HTTP GET request to the webpage with the headers
response2 = requests.get(URL_gdp, headers=headers)
tables3 = pd.read_html(response2.text)
df4 = tables3[2] # the required table will have index 2
print(df4)

# Note that the hyperlink texts have also been retained in the code output
# It is further prudent to point out, that this method exclusively operates only on tabular data extraction
# BeautifulSoup library still remains the default method of extracting any kind of information from web pages

## Web Scraping Lab
Objectives:

* Familiar with the basics of the BeautifulSoup Python library
* Be able to scrape webpages for data and filter the data

In [11]:
!pip install bs4
# !pip install requests pandas
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\usuario\appdata\roaming\python\python313\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from bs4) (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from beautifulsoup4->bs4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\usuario\appdata\roaming\python\python313\site-packages (from beautifulsoup4->bs4) (4.15.0)

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML. We can navigate the HTML as a tree, and/or filter out what we are looking for.

Consider the following HTML:

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [ ]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

# To parse a document, pass it into the BeautifulSoup constructor
# The BeautifulSoup object represents the document as a nested data structure
soup = BeautifulSoup(html, 'html.parser')
print(soup)

First, the document is converted to Unicode (similar to ASCII) and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The BeautifulSoup object can create other types of objects.

In this lab, we will cover BeautifulSoup and Tag objects, that for the purposes of this lab are identical. Finally, we will look at NavigableString objects.

We can use the method prettify() to display the HTML in the nested structure:

In [ ]:
print(soup.prettify())

### Tags
Let's say we want the title of the page and the name of the top paid player. We can use the Tag. The Tag object corresponds to an HTML tag in the original document, for example, the tag title.

In [ ]:
tag_object=soup.title
print("tag object:",tag_object)

# we can see the tag type bs4.element.Tag
print("tag object type:",type(tag_object),"\n")

# If there is more than one Tag with the same name, the first element with that Tag name is called
# This corresponds to the most paid player
tag_object=soup.h3
tag_object

Enclosed in the bold attribute b, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name

### Children, Parents, and Siblings

As stated above, the Tag object is a tree of objects. We can access the child of the tag or navigate down the branch as follows

In [ ]:
# access the child of the tag
tag_child = tag_object.b
tag_child

In [ ]:
# You can access the parent with the  parent
parent_tag=tag_child.parent
parent_tag

In [ ]:
tag_object

In [ ]:
# tag_object parent is the body element
tag_object.parent

In [ ]:
# tag_object sibling is the paragraph element
sibling_1=tag_object.next_sibling
sibling_1

In [ ]:
# sibling_2 is the header element, which is also a sibling of both sibling_1 and tag_object
sibling_2=sibling_1.next_sibling
sibling_2

### Exercise: next_sibling
Use the object sibling_2 and the method next_sibling to find the salary of Stephen Curry.

In [ ]:
sibling_3 = sibling_2.next_sibling
sibling_3

### HTML Attributes

In [ ]:
# If the tag has attributes, the tag id="boldest" has an attribute id whose value is boldest
# You can access a tags attributes by treating the tag like a dictionary
tag_child['id']

In [ ]:
# You can access that dictionary directly as attrs
tag_child.attrs

In [ ]:
# We can also obtain the content of the attribute of the tag using the Python get() method
tag_child.get('id')

### Navigable String
A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the NavigableString class to contain this text.

In [ ]:
# In our HTML we can obtain the name of the first player by extracting the string of the Tag object tag_child as follows
tag_string = tag_object.string
tag_string

In [ ]:
# we can verify the type is Navigable String
type(tag_string)

A NavigableString is similar to a Python string or Unicode string. To be more precise, the main difference is that it also supports some BeautifulSoup features.

We can convert it to string object in Python:

In [ ]:
unicode_string = str(tag_string)
unicode_string

### Filter
Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.

Consider the following HTML of rocket launches

In [ ]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
   </tr>
  <tr>
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [ ]:
# We can store it as a string in the variable table
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table, 'html.parser')

### Find All
The find_all() method looks through a tags descendants and retrieves all descendants that match your filters.

The Method signature for find_all(name, attrs, recursive, string, limit, **kwargs).

### Name
When we set the name parameter to a tag name, the method will extract all the tags with that name and its children.

In [ ]:
table_rows=table_bs.find_all('tr')
table_rows

In [ ]:
# The result is a Python Iterable just like a list, each element is a tag object
first_row = table_rows[0]
first_row

In [ ]:
# The type is tag
print(type(first_row))

In [ ]:
# We can obtain the child
first_row.td

In [ ]:
# If we iterate through the list, each element corresponds to a row in the table
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

As row is a cell object, we can apply the method find_all to it and extract table cells in the object cells using the tag td, this is all the children with the name td. The result is a list, each element corresponds to a cell and is a Tag object, we can iterate through this list as well. We can extract the content using the string attribute

In [ ]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

In [ ]:
# If we use a list we can match against any item in that list
list_input=table_bs .find_all(name=["tr", "td"])
list_input

### Attributes
If the argument is not recognized it will be turned into a filter on the tags attributes. For example with the id argument, Beautiful Soup will filter against each tags id attribute. For example, the first td elements have a value of id of flight, therefore we can filter based on that id value.

In [ ]:
table_bs.find_all(id="flight")

In [ ]:
# We can find all the elements that have links to the Florida Wikipedia page
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

In [ ]:
# If we set the href attribute to True, regardless of what the value is, the code finds all tags with href value
table_bs.find_all(href=True)

In [ ]:
# Find all the <a> tags without href value
table_bs.find_all(lambda tag: tag.name == "a" and not tag.has_attr("href"))

In [ ]:
# Find all the elements that do not contain any links
table_bs.find_all(lambda tag: tag.name != "a" and not tag.find('a'))

In [ ]:
# Using the soup object soup, find the element with the id attribute content set to "boldest"
soup.find_all(id="boldest")

### String

In [ ]:
# With string you can search for strings instead of tags, where we find all the elments with Florida
table_bs.find_all(string = "Florida")

### Find
The find_all() method scans the entire document looking for results. Its useful if you are looking for one element, as you can use the find() method to find the first element in the document. Consider the following two tables

In [ ]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td>
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>


<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td>
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [ ]:
# We store the HTML as a Python string and assign two_tables
two_tables = "<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

# We create a BeautifulSoup object two_tables_bs
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

# We can find the first table using the tag name table
two_tables_bs.find("table")

In [ ]:
# We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore to differentiate them
two_tables_bs.find("table", class_ = 'pizza')

### Downloading And Scraping Web Page Content

In [ ]:
# We Download the contents of the web page
url = "http://www.ibm.com"

# We use get to download the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

# We create a BeautifulSoup object using the BeautifulSoup constructor
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

# Scrape all links
for link in soup.find_all('a', href = True):  # in html anchor/link is represented by the tag <a>
    print(link.get('href'))

### Scrape All Image Tags

In [ ]:
for link in soup.find_all('img'): # in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

### Scrape Data From HTML Tables

In [ ]:
# The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents and the way data is organized on the website. Open the above url in your browser and check how many rows and columns there are in the color table.

In [ ]:
# Get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

soup = BeautifulSoup(data,"html.parser")

# Find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name, color_code))

# Data Reading In Python

## Reading Data From CSV File Format


*   Falls under the spreadsheet file format
*   Stored in cells
*   Organized in rows and columns
*   Each line in a CSV file is a record, with one or more fields separated by a coma

In [16]:
# install dependencies in google colab
#import pandas as pd
#!pip install seaborn lxml openpyxl

# install dependencies in notebook
#import piplite
#await piplite.install(['seaborn', 'lxml', 'openpyxl'])
#import pandas as pd
#from pyodide.http import pyfetch

# install dependencies in VS code notebook
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import requests
import lxml
import openpyxl

In [9]:
# read with pd.read_csv(''), quotation marks to read file path as argument
# can be URL or local file address

'''File to be used in notebook'''
#filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"
#async def download(url, filename):
#    response = await pyfetch(url)
#    if response.status == 200:
#        with open(filename, "wb") as f:
#            f.write(await response.bytes())
#await download(filename, "addresses.csv")
#df = pd.read_csv("addresses.csv", header=None)
#df

'''File to be used in Google Colab'''
filename = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv'

df = pd.read_csv(filename, header = None)
df

,0,1,2,3,4,5
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [10]:
# we can add column names to an existing DataFrame using the attribute .column
df.columns = ['First Name', 'Last Name', 'Location', 'City', 'State', 'Area Code']
df

,First Name,Last Name,Location,City,State,Area Code
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [13]:
'''Selecting a single column'''
# to select the first column 'First name', you can pass the column name as a string to the index operator
df["First Name"]

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: First Name, dtype: object

In [12]:
'''Selecting multiple columns'''
# pass a list of column names to the indexing operator
df[['First Name', 'Last Name', 'City', 'State']]

              First Name Last Name         City State
0                   John       Doe    Riverside    NJ
1                   Jack  McGinnis        Phila    PA
2          John "Da Man"    Repici    Riverside    NJ
3                Stephen     Tyler     SomeTown    SD
4                    NaN  Blankman     SomeTown    SD
5  Joan "the bone", Anne       Jet  Desert City    CO

In [18]:
'''Selecting rows using .iloc and .loc'''
# loc() this is a label-based data selecting method
# pass the name of the row or column which we want to select
# to select the first row
df.loc[0]

First Name                 John
Last Name                   Doe
Location      120 jefferson st.
City                  Riverside
State                        NJ
Area Code                  8075
Name: 0, dtype: object

In [19]:
# To select the 0th, 1st and 2nd row of first name, column only
df.loc[0:2, "First Name"] # or df.loc[[0, 1, 2], "First Name"]

0             John
1             Jack
2    John "Da Man"
Name: First Name, dtype: object

In [20]:
# iloc() is a indexed based selecting method
# we have to pass integer index in the method to select specific row/column
# to select the 0th,1st and 2nd row of "First Name" column only
df.iloc[0:3, 0] # or df.iloc[[0, 1, 2], 0]

0             John
1             Jack
2    John "Da Man"
Name: First Name, dtype: object

## Transform Function in Pandas
Python's Transform function returns a self-produced dataframe with transformed values after applying the function specified in its parameter

In [21]:
import pandas as pd
import numpy as np

# creating a dataframe
dF = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns = ['a', 'b', 'c'])
dF

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
# we want to add 10 to each element in a data frame
# applying the transformation function
dF_trans = dF.transform(func = lambda x : x + 10)
dF_trans

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

In [23]:
# now we will use DataFrame.transform() function to find the square root to each element of the dataframe
result = dF.transform(func = ['sqrt'])
result

          a         b         c
       sqrt      sqrt      sqrt
0  1.000000  1.414214  1.732051
1  2.000000  2.236068  2.449490
2  2.645751  2.828427  3.000000

## Reading Data From JSON File Format
JSON (JavaScript Object Notation) is a lightweight data-interchange format. It is easy for humans to read and write.

JSON is built on two structures:

1.  A collection of name/value pairs. In various languages, this is realized as an object, record, struct, dictionary, hash table, keyed list, or associative array.

2.  An ordered list of values. In most languages, this is realized as an array, vector, list, or sequence.

JSON is a language-independent data format. It was derived from JavaScript, but many modern programming languages include code to generate and parse JSON-format data. It is a very common data format with a diverse range of applications.

The text in JSON is done through quoted string which contains the values in key-value mappings within { }. It is similar to the dictionary in Python.

### Writing Files From JSON File Format
This is usually called serialization. It is the process of converting an object into a special format which is suitable for transmitting over the network or storing in file or database.

To handle the data flow in a file, the JSON library in Python uses the dump() or dumps() function to convert the Python objects into their respective JSON object. This makes it easy to write data to files

In [1]:
# python supports JSON through a built-in package called json. To use this feature, we import the json package in Python script
import json
person = {
    "first_name": "Mark",
    "last_name": "Watney",
    "age": 27,
    "address": {
        "streetAddress": "1234 West Drive",
        "city": "New York",
        "state": "NY",
        "postalCode": "10001-3100"
    }
}

## Serialization Using dump() Function
json.dump() method can be used for writing to JSON file.

Syntax: json.dump(dict, file_pointer)

Parameters:

1. dictionary  name of the dictionary which should be converted to JSON object.
2. file pointer  pointer of the file opened in write or append mode.

In [9]:
with open('C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\person.json', 'w') as f:
    json.dump(person, f)

## Serialization Using dumps() Function
json.dumps() that helps in converting a dictionary to a JSON object.

It takes two parameters:

1. dictionary  name of the dictionary which should be converted to JSON object.
2. indent  defines the number of units for indentation

In [10]:
# serializing JSON
json_object = json.dumps(person, indent=4)

# writing to sample.json
with open("C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\sample.json", "w") as outfile:
    outfile.write(json_object)
    
print(json_object)

# our Python objects are now serialized to the file. For deserialize it back to the Python object, we use the load() function

{
    "first_name": "Mark",
    "last_name": "Watney",
    "age": 27,
    "address": {
        "streetAddress": "1234 West Drive",
        "city": "New York",
        "state": "NY",
        "postalCode": "10001-3100"
    }
}

## Reading JSON to a File
This process is usually called Deserialization - it is the reverse of serialization. It converts the special format returned by the serialization back into a usable object.

Using json.load()
The JSON package has json.load() function that loads the json content from a json file into a dictionary.

It takes one parameter:

File pointer : A file pointer that points to a JSON file.

In [11]:
import json

# opening JSON file
with open('C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\sample.json', 'r') as openfile:
    '''Reading from json file'''
    json_object1 = json.load(openfile) # returns JSON object as a dictionary

print(json_object1)
print(type(json_object1))

{'first_name': 'Mark', 'last_name': 'Watney', 'age': 27, 'address': {'streetAddress': '1234 West Drive', 'city': 'New York', 'state': 'NY', 'postalCode': '10001-3100'}}
<class 'dict'>

## XLSX File Format
XLSX is a Microsoft Excel Open XML file format. It is another type of Spreadsheet file format.

In XLSX data is organized under the cells and columns in a sheet.

### Reading The Data From XLSX File
Let's load the data from XLSX file and define the sheet name. For loading the data you can use the Pandas library in python.

In [28]:
%pip install pandas openpyxl
import pandas as pd
# Not needed unless you're running locally
import urllib.request
urllib.request.urlretrieve("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/file_example_XLSX_10.xlsx", "C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\sample.xlsx")

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/file_example_XLSX_10.xlsx"

# usable in cloud environments like Jupyter Notebook, but not in Google Colab
#async def download(url, filename):
#    response = await pyfetch(url)
#    if response.status == 200:
#        with open(filename, "wb") as f:
#            f.write(await response.bytes())
#await download(filename, "file_example_XLSX_10.xlsx")

# Download the file using urllib.request
#urllib.request.urlretrieve(filename, "file_example_XLSX_10.xlsx")

df = pd.read_excel(filename)

Requirement already satisfied: pandas in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (2.3.2)
Requirement already satisfied: openpyxl in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
df

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

## XML File Format
XML is also known as Extensible Markup Language. As the name suggests, it is a markup language. It has certain rules for encoding data. XML file format is a human-readable and machine-readable file format.

We will take a look at how we can use other modules to read data from an XML file, and load it into a Pandas DataFrame.

### Writing With xml.etree.ElementTree
The xml.etree.ElementTree module comes built-in with Python. It provides functionality for parsing and creating XML documents. ElementTree represents the XML document as a tree. We can move across the document using nodes which are elements and sub-elements of the XML file.

In [30]:
import xml.etree.ElementTree as ET

# create the file structure
employee = ET.Element('employee')
details = ET.SubElement(employee, 'details')
first = ET.SubElement(details, 'firstname')
second = ET.SubElement(details, 'lastname')
third = ET.SubElement(details, 'age')
first.text = 'John'
second.text = 'Doe'
third.text = '30'

# create a new XML file with the results
mydata1 = ET.tostring(employee)
#myfile1 = open("C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\new_sample.xml", "wb")
#myfile1.write(mydata1)
#myfile1.close()
with open("C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\new_sample.xml", "wb") as f:
    f.write(mydata1)

### Reading with xml.etree.ElementTree
Let's have a look at a one way to read XML data and put it in a Pandas DataFrame. You can see the XML file in the Notepad of your local machine.

In [23]:
# Not needed unless running locally
#!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml

import xml.etree.ElementTree as ET
import requests

file_name = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml'

#async def download(url, filename):
#    response = await pyfetch(url)
#    if response.status == 200:
#        with open(filename, "wb") as f:
#            f.write(await response.bytes())
#await download(file_name, "Sample-employee-XML-file.xml")

with open("C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\Sample-employee-XML-file.xml", "w") as f:
    f.write(requests.get(file_name).text)

# you would need to firstly parse an XML file and create a list of columns for data frame
# then extract useful information from the XML file and add to a pandas data frame
tree = ET.parse("C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\Sample-employee-XML-file.xml") # parse the XML file

# get the root of the XML file
root = tree.getroot()

# define columns for the DataFrame
columns = ['firstname', 'lastname', 'title', 'division', 'building', 'room']

# initialize the empty DataFrame
xml_df = pd.DataFrame(columns = columns)

# iterate through each node in the XML root
for node in root:
    firstname = node.find('firstname').text
    lastname = node.find('lastname').text
    title = node.find('title').text
    division = node.find('division').text
    building = node.find('building').text
    room = node.find('room').text

    # create a DataFrame row
    row_df = pd.DataFrame([[firstname, lastname, title, division, building, room]], columns = columns)

    # append the row to the DataFrame
    xml_df = pd.concat([xml_df, row_df], ignore_index = True)

In [24]:
xml_df

  firstname lastname      title  division building room
0      Shiv   Mishra   Engineer  Computer      301   11
1       Yuh    Datta  developer  Computer      303   02
2     Rahil     Khan     Tester  Computer      304   10
3      Deep   Parekh   Designer  Computer      305   14

### Reading xml file using pandas.read_xml function
We can also read the downloaded xml file using the read_xml function present in the pandas library which returns a Dataframe object.

In [25]:
%pip install lxml
import pandas as pd

# Herein xpath we mention the set of xml nodes to be considered for migrating to the dataframe which in this case is details node under employees
df = pd.read_xml('C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\Sample-employee-XML-file.xml', xpath = '/employees/details')

Requirement already satisfied: lxml in c:\users\usuario\documents\apps-juanfra\envs\test1\lib\site-packages (6.0.1)
Note: you may need to restart the kernel to use updated packages.

### Save Data
Correspondingly, Pandas enables us to save the dataset to csv by using the dataframe.to_csv() method, you can add the file path and name along with quotation marks in the parentheses.

For example, if you would save the dataframe df as employee.csv to your local machine, you may use the syntax below:

In [26]:
xml_df.to_csv('C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\employee.csv', index = False)

## Read/Save Other Data Formats
We can also read and save other file formats, we can use similar functions to pd.read_csv() and df.to_csv() for other data formats. The functions are listed in the following table:

Read/Save Other Data Formats
| Data Format | Read Format         | Save Format      |
|-------------|---------------------|------------------|
| csv         | pd.read_csv()       | df.to_csv()      |
| json        | pd.read_json()      | df.to_json()     |
| excel       | pd.read_excel()     | df.to_excel()    |
| hdf         | pd.read_hdf()       | df.to_hdf()      |
| sql         | pd.read_sql()       | df.to_sql()      |

In [27]:
import pandas as pd
data_formats = [
    {"Data Format": "CSV",   "Read Format": "pd.read_csv()",    "Save Format": "df.to_csv()"},
    {"Data Format": "JSON",  "Read Format": "pd.read_json()",   "Save Format": "df.to_json()"},
    {"Data Format": "Excel", "Read Format": "pd.read_excel()",  "Save Format": "df.to_excel()"},
    {"Data Format": "HDF",   "Read Format": "pd.read_hdf()",    "Save Format": "df.to_hdf()"},
    {"Data Format": "SQL",   "Read Format": "pd.read_sql()",    "Save Format": "df.to_sql()"},
]

df_formats = pd.DataFrame(data_formats)
df_formats.index = ['1', '2', '3', '4', '5']
df_formats

  Data Format      Read Format    Save Format
1         CSV    pd.read_csv()    df.to_csv()
2        JSON   pd.read_json()   df.to_json()
3       Excel  pd.read_excel()  df.to_excel()
4         HDF    pd.read_hdf()    df.to_hdf()
5         SQL    pd.read_sql()    df.to_sql()

# Binary File Format
"Binary" files are any files where the format isn't made up of readable characters. It contain formatting information that only certain applications or processors can understand. While humans can read text files, binary files must be run on the appropriate software or processor before humans can read them.

Binary files can range from image files like JPEGs or GIFs, audio files like MP3s or binary document formats like Word or PDF.

Let's see how to read an Image file.

## Reading the Image file
Python supports very powerful tools when it comes to image processing. Let's see how to process the images using the PIL library.

PIL is the Python Imaging Library which provides the python interpreter with image editing capabilities.

In [ ]:
# Use this code in a browser-based Jupyter Notebook powered by Pyodide
%pip install Pillow
from PIL import Image

filename = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "./dog.jpg")

In [49]:
import requests

path = "C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\"
filename = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"

# Download the image using requests
response = requests.get(filename)
if response.status_code == 200:
    with open(path + "dog_request.jpg", "wb") as f:
        f.write(response.content)

In [50]:
# read image
img_request = Image.open(path + 'dog_request.jpg', 'r')

# show image
img_request.show()

In [52]:
# use this code if running locally
import urllib.request
urllib.request.urlretrieve("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg", path + "dog.jpg")

('C:\\Users\\USUARIO\\OneDrive\\Documentos\\My_Projects\\Projects\\Python_Practice\\Files\\dog.jpg',
 <http.client.HTTPMessage at 0x29b23870b00>)

In [54]:
# read image
img = Image.open(path + 'dog.jpg', 'r')

# show image
img.show()

# Data Analysis
In this section, you will learn how to approach data acquisition in various ways and obtain necessary insights from a dataset. By the end of this lab, you will successfully load the data into Jupyter Notebook(python in this case) and gain some fundamental insights via the Pandas Library.

In our case, the Diabetes Dataset is an online source and it is in CSV (comma separated value) format. Let's use this dataset as an example to practice data reading.

## About this Dataset
Context: This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years of age of Pima Indian heritage.

Content: The datasets consists of several medical predictor variables and one target variable, Outcome. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on.

We have 768 rows and 9 columns. The first 8 columns represent the features and the last column represent the target/label.

In [58]:
import pandas as pd
import urllib.request

urllib.request.urlretrieve("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/diabetes.csv", path + "diabetes.csv")

# load dataset to a dataframe using pandas read_csv
df = pd.read_csv(path + "diabetes.csv")

# print the first five rows of the dataframe
print("First 5 rows of the DataFrame:")
df.head()

First 5 rows of the DataFrame:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [59]:
# print the shape of the dataframe
print("Shape of the DataFrame:", df.shape)

# print the last five rows of the dataframe
print("\nLast 5 rows of the DataFrame:")
df.tail()

Shape of the DataFrame: (768, 9)

Last 5 rows of the DataFrame:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Statistical Overview of Dataset

In [60]:
# use df.info() method to get a summary of the dataframe (index dtype, columns, non-null values, datatypes)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
# use df.describe() method to get a statistical summary of the dataframe 
# in numeric values (count, mean, standard deviation(std), min, percentile, max)
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

For a series of strings it returns a different value!!

### Identify and Handle Missing Values
We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:

.isnull()

.notnull()

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [62]:
# check for missing values
missing_data = df.isnull()
missing_data.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [63]:
notMissing_data = df.notnull()
notMissing_data.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True