<a href="https://colab.research.google.com/github/JuanDarquea/Think_Python_Practice/blob/main/Coursera_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading files with open()

In [ ]:
with open('file.txt', 'w') as file: # create file and open it as "write", using "read" does not create a file
  file.write('This is line A\n')    # write lines inside the file
  file.write('This is line B\n')

with open('file.txt', 'a') as file: # file opened as "append" to add to the file without erasing past data
  file.write('This is line C\n')

with open('file.txt', 'r') as file: # with file now created, it can be opened as "read"
  file_stuff = file.read()          # assign the file full content to a variable
  print(file_stuff)                 # print said content

with open('file.txt', 'r') as file:
  line1 = file.readline()           # read file line by line
  print(line1)
  line2 = file.readline()           # cursor does move when reading inside an opened file
  print(line2)

with open('file.txt', 'a+') as file:      # use of "append+" to append and read the file
  file.write('This is special line D\n')
  file.seek(0)                            # move the cursor to the beginning to read
  file1 = file.read()
  if "special" in file1:
    print('True\n')
    print(file1)
  else:
    print('False')

In [ ]:
file = open('file.txt', 'r')
line1 = file.readline()
line2 = file.readline()
line3 = file.readline()
line4 = file.readline()

print(line3)
if "special" in line4:        # using if to search for specifc parts of the line inside the file
  print(f"{line4}\n")
else:
  print('False')

file.seek(0)                  # seek goes outside of loop, else it creates an infinite loop
while True:                   # using while to read the whole file in a loop, line by line
  line = file.readline()
  if not line:
    break
  print(line)
file.close()                  # always close the file when opening it without the use of "with"

In [ ]:
file = open('file.txt', 'r')
file.seek(15)
line2 = file.readline()       # reading full second line first by modifying the placing of cursor
print(line2)
file.seek(23)                 # using seek to put cursor on a specific part of the file
halfline2 = file.read(6)      # reading the next 6 characters from the cursor
print(halfline2)              # print said characters assigned to a variable
file.close()

## Lab exercises

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

print("done")

In [ ]:
# Read the Example1.txt
example1 = "example1.txt"
file1 = open(example1, "r")

# Print the path of file
print(f"File name: {file1.name}")
print("-" * 20)

# Print the mode of file, either 'r' or 'w'
print(f"File mode: {file1.mode}")
print("-" * 20)

# Read the file
FileContent = file1.read()
FileContent

# Print the file with '\n' as a new line
print("Content:")
print(FileContent)
print("-" * 20)

# Type of file content
contet_type = type(FileContent)
print("Content type:")
print(contet_type)
print("-" * 20)

# Close file after finish
file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(f"{FileContent}")
    print("-" * 20)

# Verify if the file is closed
print("Is file closed?")
print(f"{file1.closed}")
print("-" * 20)

# See the content of file
print(FileContent)

In [ ]:
# Read first four characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print("-" * 20)

# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))
    print("-" * 20)

# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

In [ ]:
# Read one line
with open(example1, "r") as file1:
    print("first line: " + file1.readline())
    print("-" * 20)

with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars
    print("-" * 20)

# Iterate through the lines
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1
        print("-" * 20)

# Read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()

# Print the first line
print(FileasList[0])
print("-" * 20)
# Print the second line
print(FileasList[1])
print("-" * 20)
# Print the third line
print(FileasList[2])
print("-" * 20)

# Writing file with open()

In [ ]:
# Write line to file
exmp2 = 'Example2.txt' # Creating variable "exmp2" with the file to be created name
with open(exmp2, "w") as wf: # Assining the creation and writing of the file to "wf"
  wf.write("This is line A\n") # Create first line in "Example2.txt"
  wf.write("This is line B\n")

In [ ]:
# Read file
with open(exmp2, "r") as twf: # Open the file inside to variable "exmp2" as read, and assigning the action to "twf"
  print(twf.read()) # Print the whole file

In [ ]:
# Write lines to file
with open(exmp2, "w") as wf:
  wf.write("This is line C\n")

In [ ]:
# Check whether write to file
with open(exmp2, "r") as twf:
  print(twf.read())

In [ ]:
# Sample list of text
Lines = ["This is line A", "\nThis is line B", "\nThis is line C", "\nThis is line D"] # Creats a list of strings
Lines # Shows/prints the list

In [ ]:
# Write the strings in the list to text file
with open("/Example2.txt", "w") as wf:
  for line in Lines: # Assigns "line" to the list "Lines"
    print(line) # Prints list
    wf.write(line) # Writes in file "Example2.txt" the content of list "Lines"

In [ ]:
# Verify if writing to file is successfully executed
with open("/Example2.txt", "r") as twf:
  print(twf.read())

In [ ]:
with open("/Example2.txt", "w") as wf:
  wf.write("This file was overwritten")

In [ ]:
with open("/Example2.txt", "w") as wf:
  for line in Lines:
    wf.write(line)

In [ ]:
# Write a new line to text file
with open("/Example2.txt", "a") as wf: # Open file as append
  wf.write("\nThis is line E") # Write text to append to existing file
  wf.write("\nThis is line F")

In [ ]:
# Sample list of text
Lines2 = ["\nThis is line G", "\nThis is line H", "\nThis is line I", "\nThis is line J"] # Creats a list of strings
Lines2 # Shows/prints the list

In [ ]:
# Append list from "Lines2"
with open("/Example2.txt", "a") as wf:
  for line in Lines2:
    wf.write(line)

In [ ]:
# Verify if the new line is in the text file
with open("/Example2.txt", "a+") as twf: # Open file as append + read
  twf.write("\nThis is line K") # Writes new lines to append to file and existing content
  twf.write("\nThis is line L")
  print(twf.read()) # Reads file, but from the point where the cursor is, "a" unlike "w" or "r", doesn't reset cursor, so shows nothing

In [ ]:
# reset cursor location and open + print full document
with open('/Example2.txt', 'r') as wf:
  wf.seek(0, 0) # bring cursor to beggining of file
  print(wf.read())

In [ ]:
with open("/Example2.txt", "a+") as twf:
  print("Initial Location: {}".format(twf.tell())) # Print the initial location of the cursor

  data = twf.read()
  if (not data): # Assign a return if the file is empty from where the cursor is
    print("Cursor at the end, file empty from cursor onward")
  else:
    print(twf.read())

In [ ]:
with open('/Example2.txt', 'r+') as twf:
  twf.seek(0,0) # Move cursor 0 bytes from the beggining
  print("New Location: {}\n".format(twf.tell())) # Print the current location of cursor
  data = twf.read() # Assing value of the data read to "data"
  if (not data): # Conditional "if" in case there is no data after cursor
    print("Cursor at the end, file empty from cursor onward")
  else: # Conditional "if" in case there is data after cursor
    print(data)

  print("\nLocation after read: {}".format(twf.tell()))# Print the final location of cursor

In [ ]:
# example of writing over the existing data of file, but without erasing all the extra data
with open('/Example2.txt', 'r+') as testwritefile:
    testwritefile.seek(0,0) # write at beginning of file
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("Line 4" + "\n")
    testwritefile.write("finished\n")
    testwritefile.seek(0,0)
    print(testwritefile.read())

In [ ]:
# here we use the order ".truncate" to delete the rest of data
with open('/Example2.txt', 'r+') as testwritefile:
  print("Location before cursor reset: {}\n".format(testwritefile.tell()))
  #testwritefile.seek(0,0) # Cursor at the beggining of file to write, redundant when correctly used at the end of "with"
  testwritefile.write("Line 1" + "\n")
  testwritefile.write("Line 2" + "\n")
  testwritefile.write("Line 3" + "\n")
  testwritefile.write("Line 4" + "\n")
  testwritefile.write("finished")
  testwritefile.truncate() # The order ".truncate" deletes the rest of the file from this point on
  testwritefile.seek(0,0) # Cursor at the beggining of file to read
  print(testwritefile.read())
  testwritefile.seek(0,0) # Leave cursor at beggining of file for future use
  print("\nLocation of cursor at the end: {}".format(testwritefile.tell()))

In [ ]:
with open('/Example2.txt', 'r+') as twf: # Open file as read + write (maintainning existing text)
    twf.seek(0,0) # Cursor at the beggining of file to write
    print(len(twf.read())) # Print the length of the file
    print("\nLocation of cursor at the end: {}".format(twf.tell()))

In [ ]:
with open('/Example2.txt', 'r+') as twf: # "r" opens file without deleting it's previows content, contrary to "w"
    twf.seek(37,0) # Set cursor at end of file
    twf.write("\nNew line") # Write "New Line" at end of file
    twf.seek(0,0) # Set cursor at beggining of file
    print(twf.read()) # Print whole content of file
    print("\nLocation of cursor at the end: {}".format(twf.tell()))

In [ ]:
# Copy file to another
with open('/Example2.txt','r') as rf:
    with open('/Example3.txt','w') as wf:
          for line in rf:
                wf.write(line)

In [ ]:
# Verify if the copy is successfully executed
with open("/Example3.txt", "r") as rf:
  print(rf.read())
  rf.seek(0,0)
  print()
  # print(len(rf.read()))
with open("/Example3.txt", "r+") as rf:
  rf.seek(45,0)
  rf.write("\nNew line2")
  rf.seek(0,0)
  print(rf.read())

In [ ]:
print("---File 3---")
with open("/Example3.txt", "r") as rf:
  print(rf.read())
  print()
print("---File 2---")
with open("/Example2.txt", "r") as rf2:
  print(rf2.read())

## Lab Exercises

In [ ]:
# Run this prior to starting the exercise, creation of player lists
from random import randint as rnd

memReg = '/members.txt'
exReg = '/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))

    with open(old,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))

genFiles(memReg,exReg)
with open("/members.txt", "r") as rf:
    print(rf.read())
print()
with open("/inactive.txt", "r") as rf2:
    print(rf2.read())

In [ ]:
def cleanFiles(currentMem, exMem): # Define function to create and run clean files
  with open(currentMem, "r+") as writeFile:
        with open(exMem, "a+") as appendFile:
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)

            inactive = [member for member in members if ('no' in member)]
            #go to the beginning of the write file
            writeFile.seek(0)
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)
            writeFile.truncate()

memReg = '/members.txt'
exReg = '/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n")
    print(readFile.read())

with open(exReg,'r') as readFile:
    print("\nInactive Members: \n")
    print(readFile.read())

# Pandas: Selecting Data

In [ ]:
!pip install pandas # only use when in need to install the library before importing it, here it would be redundant

In [ ]:
import pandas as pd # import library and assign a variable to said library

In [ ]:
# read the content of a .csv file and assign it to a variable
df = pd.read_csv('file.csv') # this file does not exist, will cause error, replace with existing file

In [ ]:
# example of data series
series = [10, 20, 30, 40, 50] # create series for the dataframe
series_pd = pd.Series(series) # assign series to a vaiable as a dataframe
print(series_pd)

In [ ]:
# accessing series elements
print(series_pd[2]) # accessing series elements by label
print('-'*10)
print(series_pd.iloc[0]) # accessing series elements by position
print('-'*10)
print(series_pd[2:4]) # accessing a series. range of elements by index

In [ ]:
print(series_pd.size) # number of elements in a series
print('-'*10)
print(series_pd.ndim) # total number of dimensions in a series, pandas series are one dimensional
print('-'*10)
print(series_pd.shape) # represents a result as first elements and dimensiones, as a touple
print('-'*10)
print(series_pd.values) # returns a series values as an array
print('-'*10)
print(series_pd.index) # index of a series

In [ ]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'], # create dictionary and assing it to a variable
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data) # put the dictionary into a dataframe and assign the dataframe to a variable
print(df)

In [ ]:
# dataframe navigation by columns
print(df['Name'])  # access the 'Name' column

In [ ]:
# dataframe navigation by row
print(df.iloc[2])   # Access the third row by position
print('-'*30)
print(df.loc[1])    # Access the second row by label

In [ ]:
# slicing a dataframe
print(df[['Name', 'Age']])  # Select specific columns
print('-'*35)
print(df[1:3])             # Select specific rows

In [ ]:
# finding unique elements in a dataframe
unique_dates = df['Age'].unique()
print(unique_dates)
print('-'*40)

# conditional filtering
high_above_102 = df[df['Age'] > 25]
print(high_above_102)
print('-'*40)

# saving dataframes
df.to_csv('trading_data.csv', index=False)

In [ ]:
#Define a dictionary 'x', then create a dataframe from the dictionary using the function pd.DataFrame(dict)
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'],
      'Salary':[100000, 80000, 50000, 60000]}

df = pd.DataFrame(x) #cast the dictionary to a DataFrame
df #display the result df

In [ ]:
'''Column selection'''
#Retrieving the "ID" column and assigning it to a variable x_ID
x_ID = df[['ID']]
print(x_ID)
print('-'*30)
#check the type of x
type(x_ID)

In [ ]:
'''Access multiple columns'''
#Retrieving the Department, Salary and ID columns and assigning it to a variable z
z = df[['Department','Salary','ID']]
z

## Lab exercises

Problem 1: Create a dataframe to display the result as below:

![Coursera_Pandas_Practice_Problem1.jpg]()

In [ ]:
class_A = {'Student': ['David', 'Samuel', 'Terry', 'Evan'],
           'Age': ['27', '24', '22', '32'],
           'Country': ['UK', 'Canada', 'China', 'USA'],
           'Course': ['Python', 'Data Structures', 'Machine Learning', 'Web Development'],
           'Marks': ['85', '72', '89', '76']}
df2 = pd.DataFrame(class_A)
df2

In [ ]:
# Problem 2: Retrieve the Marks column and assign it to a variable b
b = df2['Marks']
b

In [ ]:
# Problem 3: Retrieve the Country and Course columns and assign it to a variable c
c = df2[['Country', 'Course']]
c

In [ ]:
# Get the Student column as a series Object
x = df2['Student']
x

In [ ]:
#check the type of x
type(x)

In [ ]:
'''loc() and iloc() functions'''
# Access the value on the first row and the first column
df2.iloc[0, 0]

In [ ]:
# Access the value on the first row and the third column
df2.iloc[0,2]

In [ ]:
# Access the column using the name
df.loc[0, 'Salary']

np.int64(100000)

In [ ]:
# Let us create a new dataframe called 'df3' and assign 'df' to it.
# Now, let us set the "Name" column as an index column using the method set_index().
df3 = df
df3 = df3.set_index("Name")
df3

In [ ]:
#To display the first 5 rows of new dataframe
df3.head()

In [ ]:
# Now, let us access the column using the name
int(df3.loc['Jane', 'Salary'])

50000

In [ ]:
# Use the loc() function,to get the Department of Jane in the newly created dataframe df3.
df3.loc['Jane', 'Department']

'Design Team'

In [ ]:
# Use the iloc() function to get the Salary of Mary in the newly created dataframe df3.
df3.iloc[3, 2]

In [ ]:
'''Slicing'''
# let us do the slicing using iloc() in the old dataframe "df"
df.iloc[0:2, 0:3]

In [ ]:
#let us do the slicing using loc() function on old dataframe "df" where index column is having labels as 0,1,2
df.loc[0:2,'Name':'Department']

In [ ]:
#let us do the slicing using loc() function on new dataframe "df3" where index column is Name having labels: Rose, John and Jane
df3.loc['Rose':'Jane', 'ID':'Department']

In [ ]:
# using loc() function, do slicing on old dataframe df to retrieve the Name, ID and Department of index column having labels as 2,3
df.loc[2:3, 'Name':'Department']

# Pandas: Loading data

In [ ]:
!pip install pandas # only use when in need to install the library before importing it, here it would be redundant

In [1]:
import pandas as pd # import library and assign a variable to said library

In [2]:
# Read data from CSV file
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/LXjSAttmoxJfEG6il1Bqfw/Product-sales.csv'
df = pd.read_csv(csv_path)

In [4]:
df.head() # display the first five rows from file

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
0,1,Laptop,Electronics,2,800,1600,2022-01-10,New York
1,2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles
2,3,Desk Chair,Furniture,5,150,750,2022-03-12,Chicago
3,4,Notebook,Stationery,10,2,20,2022-04-05,Houston
4,5,Monitor,Electronics,1,300,300,2022-05-21,Miami

In [6]:
df2 = df.set_index("OrderID")
df2

,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
OrderID,,,,,,,
1,Laptop,Electronics,2,800,1600,2022-01-10,New York
2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles
3,Desk Chair,Furniture,5,150,750,2022-03-12,Chicago
4,Notebook,Stationery,10,2,20,2022-04-05,Houston
5,Monitor,Electronics,1,300,300,2022-05-21,Miami

In [14]:
# read data from a excel file and print the first 5 rows
# xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx'
# await download(xlsx_path, "Product-sales.xlsx")
# two lines used in other programming environments, like notebook or pyodide based environments

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx
df_excl = pd.read_excel("Product-sales.xlsx")
df_excl.head()

--2025-08-20 00:25:31--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9662 (9.4K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Product-sales.xlsx.2’

Product-sales.xlsx. 100%[===================>]   9.44K  --.-KB/s    in 0s

2025-08-20 00:25:32 (191 MB/s) - ‘Product-sales.xlsx.2’ saved [9662/9662]

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
0,1,Laptop,Electronics,2,800,1600,2022-01-10,New York
1,2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles
2,3,Desk Chair,Furniture,5,150,750,2022-03-12,Chicago
3,4,Notebook,Stationery,10,2,20,2022-04-05,Houston
4,5,Monitor,Electronics,1,300,300,2022-05-21,Miami

In [20]:
# Access the "Quantity" column Length as a datarame = [[]]
x_quant = df_excl[['Quantity']]
x_quant

   Quantity
0         2
1         3
2         5
3        10
4         1

In [21]:
# Get the column as a series = []
x_prod = df_excl['Product']
x_prod

0        Laptop
1    Smartphone
2    Desk Chair
3      Notebook
4       Monitor
Name: Product, dtype: object

In [22]:
print(type(x_quant))
print(type(x_prod))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [23]:
# Access to multiple columns
y = df_excl[['Product','Category', 'Quantity']]
y

      Product     Category  Quantity
0      Laptop  Electronics         2
1  Smartphone  Electronics         3
2  Desk Chair    Furniture         5
3    Notebook   Stationery        10
4     Monitor  Electronics         1

In [28]:
# Access the value on the first row and the first column
print(df_excl.iloc[0, 0])
print("-"*20)
# Access the value on the second row and the first column
print(df_excl.iloc[1,0])
print("-"*20)
# Access the value on the first row and the third column
print(df_excl.iloc[0,2])
print("-"*20)
# Access the value on the third row and the third column
df_excl.iloc[2,2]

1
--------------------
2
--------------------
Electronics
--------------------

'Furniture'

In [29]:
# Access the column using the name
df_excl.loc[0, 'Product']

'Laptop'

In [30]:
# Access the column using the name
df_excl.loc[1, 'Product']

'Smartphone'

In [31]:
# Access the column using the name
df_excl.loc[1, 'CustomerCity']

'Los Angeles'

In [33]:
# Access the column using the name
int(df_excl.loc[1, 'Total'])

1800

In [34]:
# Slicing the dataframe

df_excl.iloc[0:2, 0:3]

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics

In [35]:
# Slicing the dataframe using name

df.loc[0:2, 'OrderID':'Category']

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics
2        3  Desk Chair    Furniture

In [ ]:
# Test